body {
    font-family: 'League Spartan', sans-serif;
    background: #fffaf9;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto; 
    padding: 20px;
    color: #333;
  }

  .titulo {
    color: #de3d82;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .titulo span {
    color: #ff6f61;
  }  
  .subtitulo {
    text-align: center;
    color: #e74393;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    margin-top: 40px;
  }
  .acao {
    margin-top: 40px;
  }
  
  .legenda {
    max-width: 100%;
    height: auto;
    font-size: 1.8em;
    line-height: 1.2;
    margin: 0 auto 10px auto;
    color: #333;
    text-align: center;
  }
  
  .acao img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  

  .convite {
    max-width: 100%;
    margin: 60px auto 40px auto;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    color: #f86f3c;
  }
  .caixas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .caixa {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);

  }
  .caixa h2 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 10px;
  }
  
  .caixa p,
  .caixa ul {
    font-size: 1.1em;
    line-height: 1.4;
  }
  .segunda {
    background-color: #e6534f;
    flex: 0.8;
  }
  .primeira {
    background-color: #E6534F;
  }

  .terceira {
    background-color: #EB5D40;
    margin-top: 20px;
  }
.terceira ul {
    padding-left: 20px;
    margin-top: 10px;
}
